.css-19kzrtu {
    padding: 1px !important;
}
.storiesIcon{
    font-size: 2rem;
    color: #0000ff;
    margin-right: 5px;

}
.tabClass {
  
   
    font-size: 16px !important;
    text-transform: capitalize !important;
}